<footer class="footer_area">
    <div class="container">
        <div class="row">
            <!-- Footer About Area Start -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="footer_about_us wow fadeInUp" data-wow-delay="0.2s">
                    <div class="title">
                        <h4>About GameHub</h4>
                        <!-- Useful Links Title -->
                        <div class="underline"></div>
                    </div>
                    <p>GameHub is university project that support playing many games in single and multi player mode with your friends so you can connect to your facebook account and find friends quickly</p>
                </div>
            </div>
            <!-- Footer About Area End -->



            <!-- Useful Links Area Start -->
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="important_links wow fadeInUp" data-wow-delay="0.8s">
                    <div class="title">
                        <h4>Find us on</h4>
                        <!-- Useful Links Title -->
                        <div class="underline"></div>
                    </div>
                    <!-- Links Start -->
                    <div class="links">
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <a href="#">Facebook</a></p>
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <a href="#">Twitter</a></p>
                        <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <a href="#">YouTube</a></p>
                    </div>
                    <!-- Links End -->
                </div>
            </div>
            <!-- Useful Links Area End -->
        </div>
        <!-- end/ row -->
    </div>
    <!-- end/ container -->

    <!-- Bottom Footer Area Start -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer_bottom wow fadeInDown">
                        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="/about">Osama, Maher, Majd and Mohamed</a></p>
                    </div>
                    <!-- Bottom Footer Copywrite Text Area End -->
                </div>
            </div>
            <!-- end/ row -->
        </div>
        <!-- end/ container -->
    </div>
    <!-- Bottom Footer Area End -->
</footer>
<!-- ===================== All jQuery Plugins ===================== -->

<!-- jQuery (necessary for all JavaScript plugins) -->
<script src="/public/js/jquery-2.2.4.min.js"></script>

<script src="/public/js/json3.min.js"></script>


<!-- bootstrap js -->
<script src="/public/js/bootstrap.min.js"></script>

<!-- Nivoslider js -->
<script src="/public/js/jquery.nivoslider.js"></script>
<script src="/public/js/nivoslider-active.js"></script>

<!-- owl-carousel js -->
<script src="/public/js/owl.carousel.min.js"></script>

<!-- Ajax Contact js -->
<script src="/public/js/ajax-contact.js"></script>

<!-- Coundown js -->
<script src="/public/js/coundown-timer.js"></script>

<!-- Meanmenu js -->
<script src="/public/js/meanmenu.js"></script>

<!-- Magnific Popup js -->
<script src="/public/js/jquery.magnific-popup.min.js"></script>

<!-- Counterup and Waypoint js -->
<script src="/public/js/jquery.waypoints.min.js"></script>
<script src="/public/js/counterup.min.js"></script>

<!-- back to top js -->
<script src="/public/js/jquery.scrollUp.js"></script>

<!-- wow js -->
<script src="/public/js/wow.min.js"></script>

<!-- script js -->
<script src="/public/js/custom.js"></script>
