<meta charset="UTF-8">
<meta name="description" content="GameHub">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title  -->
<title>GameHub</title>

<!-- Favicon  -->
<link rel="shortcut icon" href="/public/img/core-img/icon.png">

<!-- ===================== All CSS Files ===================== -->

<!-- Style css -->
<link rel="stylesheet" href="/public/css/style.css">

<link rel="stylesheet" href="/public/css/sweetalert.css">

<!-- Responsive css -->
<link rel="stylesheet" href="/public/css/responsive.css">




<script src="/public/js/sweetalert.min.js"></script>







<script src="/socket.io/socket.io.js"></script>
<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
</script>
<!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
