<!DOCTYPE html>
<html lang="en">

<head>
  <% include layouts/head %>
</head>

<body>

    <% include layouts/header %>



    <!-- ===================== Welcome Area Start ===================== -->
    <section class="welcome_area" id="home">
        <div class="welcome_slides">
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(./public/img/bg-pattern/slider-1.jpg);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>Chess Game</h2>
                            <h3>Now can you play chess game in Single/Multi player mode.</h3>
                            <div class="welcome_btn">
                                <a class="btn btn-1 btn-default btn-lg active" href="/games/chess/multi" role="button">Multi-player</a>
                                <a class="btn btn-2 btn-default btn-lg" href="/games/chess/single" role="button">Single-player</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slide Start -->
            <div class="single_slide" style="background-image: url(./public/img/bg-pattern/slider-2.jpg);">
                <div class="slide_text">
                    <div class="table">
                        <div class="table_cell">
                            <h2>Checkers Game<br/>((Comming SOON))</h2>
                            <h3>You can you play checker game in Single/Multi player mode.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- ===================== Welcome Area End ===================== -->

    <!-- ===================== Awesome Feature Area Start ===================== -->
    <section class="awesome_features_area home2 section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading wow fadeInUp">
                        <img src="./public/img/icon-img/icon.png" alt="">
                        <h4>Best Services</h4>
                    </div>
                    <!-- Section Heading End -->
                </div>
            </div>
            <!-- end./ row -->

            <div class="row">
                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature_img">
                            <span class="icon-genius"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Multi-player</h5>
                            <p>Now you can play your game with your friends</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature_img">
                            <span class="icon-profile-male"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Single-player</h5>
                            <p>Now you can beat your computer and challenge with him</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_img">
                            <span class="icon-compass"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>Cross-platform</h5>
                            <p>Now you can play your game with Android platform and with our site</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

                <!-- Single Feature Area Start -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.8s">
                        <div class="feature_img">
                            <span class="icon-gift"></span>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h5>XP everywhere</h5>
                            <p>Challenging is Good so we have xp system here!</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
                <!-- Single Feature Area End -->

            </div>
            <!-- end./ row -->
        </div>
        <!-- end./ container -->
    </section>
    <!-- ===================== Awesome Feature Area End ===================== -->

    <!-- ===================== Popular Courses Area Start ===================== -->
    <section class="popular_coureses_area home2 grid_coundown section_padding_60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Area Start -->
                    <div class="section_heading wow fadeInUp">
                        <img src="./public/img/icon-img/coures-icon.png" alt="">
                        <h4>Our Games</h4>
                    </div>
                    <!-- Section Heading Area End -->
                </div>
            </div>

            <div class="row">
                <!-- Single Courses Area Start -->
                <div class="col-md-6 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_courses_thumb">
                            <img src="./public/img/bg-pattern/slider-1.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="links">
                                    <a class="magnific-popup" href="./public/img/bg-pattern/slider-1.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title" style="padding-bottom: 10px">
                                <a href="#"><h5>Chess Game</h5></a>
                                <p>Play chess now with many featuers</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->

                            <!-- Event Coundown area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->

                <!-- Single Courses Area Start -->
                <div class="col-md-6 col-xs-12">
                    <div class="single_courses wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single_courses_thumb">
                            <img src="./public/img/bg-pattern/slider-2.jpg" alt="">
                            <div class="hover_overlay">
                                <div class="links">
                                    <a class="magnific-popup" href="./public/img/bg-pattern/slider-2.jpg"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Courses Image Area End -->
                        <div class="single_courses_desc">
                            <!-- Single Courses Title Area End -->
                            <div class="title" style="padding-bottom: 13px">
                                <a href="#"><h5>Checkers Game</h5></a>
                                <p>Play checkers now with many featuers</p>
                            </div>
                            <!-- Single Courses Blog Title Area End -->
                        </div>
                    </div>
                </div>
                <!-- Single Courses Area End -->
            </div>
        </div>
    </section>
    <!-- ===================== Popular Courses Area End ===================== -->


    <!-- ===================== Newsletter Area Start ===================== -->
    <div class="newsletter_area wow fadeInUp" data-wow-delay="0.2s">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="newsletter_text">
                        <h4>Subcribe newsletter</h4>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_from">
                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter Your E-mail" required>
                            </div>
                            <button type="submit" class="btn btn-default"><i class="fa fa-paper-plane"></i>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== Newsletter Area End ===================== -->


    <% include layouts/footer %>


<script>
<% if (username != null) { %>
  socket = io();
  socket.connect();
  socket.emit('registerOnlineUser','<%- username %>');

  socket.on('request_play_client',function (name,game_id) {
      swal({
          title: 'Playing Request!',
          text: name + ' want to play with you!',
          type: "info",
          showCancelButton: true,
          confirmButtonClass: "btn-success",
          confirmButtonText: "Challenge Accepted!",
          cancelButtonText: "No, thanks",
          closeOnConfirm: false,
          closeOnCancel: false
          },
          function(isConfirm) {
            if (isConfirm) {
              swal("Confirm!", "You will go to Game page, Good Luck.", "success");
              socket.emit('response_play_server',name,game_id);
              sleep(2000);
              window.location.replace('/games/chess/multi/'+game_id);
            } else {
              swal("Cancelled", "OK, no problem.", "error");
            }
          });

  });

  socket.on('response_play_client',function (name,game_id) {
    swal("Accepted!",name +' accept your request' , "success");
    sleep(2000);
    window.location.replace('/games/chess/multi/'+game_id);
  });


<% }%>




</script>

</body>

</html>
