

#Board {
	position: relative;
	left: 60px;
	top: 20px;
	width: 484px;
	height: 484px;
	border-style:solid;
  border-width:2px;
	margin-bottom: 40px;
}



#ThinkingPng {
	width: 40px;
	height: 40px;
}




.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.flex-container > * {
    padding: 10px;
    flex: 1 100%;
}



@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px;}
    .aside1 { order: 1; }
    .main    { order: 2; }
    .aside2 { order: 3; }
    .footer  { order: 4; }

}

@media all and (max-width: 750px) {
	.main    { margin-left: -30%;}
}

.single-mode{

	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Piece {
	position: absolute;
}

.Square {
	position: absolute;
	width: 60px;
	height: 60px;
}

.Light {
	background-color:#f0dab5;
}

.Dark {
	background-color:#b58763;
}

.SqSelected {
	-webkit-box-shadow: inset 0 0 3px 3px yellow;
	-moz-box-shadow: inset 0 0 3px 3px yellow;
	box-shadow: inset 0 0 3px 3px yellow;
}

.DeSqSelected {
	-webkit-box-shadow: inset 0 0 3px 3px blue;
	-moz-box-shadow: inset 0 0 3px 3px blue;
	box-shadow: inset 0 0 3px 3px blue;
}



.clickElement { cursor:pointer }

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.rank8flip { top: 420px; }
.rank7flip { top: 360px; }
.rank6flip { top: 300px; }
.rank5flip { top: 240px; }
.rank4flip { top: 180px; }
.rank3flip { top: 120px; }
.rank2flip { top: 60px; }
.rank1flip { top: 0px; }

.file8flip { left: 0px; }
.file7flip { left: 60px; }
.file6flip { left: 120px; }
.file5flip { left: 180px; }
.file4flip { left: 240px; }
.file3flip { left: 300px; }
.file2flip { left: 360px; }
.file1flip { left: 420px; }
